* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.headline {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  /* margin-top: 10px; */
  padding: 15px;
  color: rgb(204, 61, 5);
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #111;
  color: #eee;
  height: 80px;
  z-index: 1;
}

#container-navBar {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

#navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  gap: 10px;
}

.item-navbar {
  color: rgb(233, 70, 6);
}

#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background: url("./assets/avião.jpg");
}

#showcase-container {
  text-align: left;
}

#showcase-container h2 {
  font-size: 2.5rem;
}

#showcase-container p {
  font-size: 1.8rem;
  color: #111;
  margin-bottom: 20px;
}

.btn {
  background: rgb(233, 70, 6);
  color: #eee;
  padding: 15px 60px;
  margin: 20px 0 10px 0;
  border-radius: 6px;
  text-transform: uppercase;
  transition: 500ms ease;
}

.btn:hover {
  background: rgb(204, 43, 14);
}

/* Ofertas */

#sale {
  height: 100vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-sale {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.container-sale {
  height: 500px;
  width: 400px;
  box-shadow: 5px 5px 10px black;
  border: rgba(204, 168, 159, 0.267) solid 3px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-sale:hover {
  cursor: pointer;
}

.img-sale {
  width: 380px;
  height: auto;
}

.container-sale h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  border-bottom: 1px solid black;
  padding: 10px;
}

.button-more {
  font-size: 1.1rem;
  background-color: rgb(233, 70, 6);
  color: white;

  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.paragraph-sale {
  font-size: 1.1rem;
  font-weight: bold;
}

.percentage {
  font-size: 14px;
  color: rgb(233, 70, 6);
  background-color: rgb(30, 9, 105);
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

/* hotels */

#hotels {
  height: 100vh;
  background: url(./assets/Hotel-.jpg) center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-hotels {
  height: 400px;
  width: 80%;
  background-color: #eee;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
}

.hotels-destiny p {
  font-size: 1.4rem;
  text-align: center;
  color: rgb(233, 70, 6);
}

.hotels-destiny input {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
}

.hotels-period p {
  font-size: 1.4rem;
  text-align: center;
  color: rgb(233, 70, 6);
}

.hotels-period input {
  height: 40px;
  width: 190px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.hotels-people p {
  font-size: 1.4rem;
  text-align: center;
  color: rgb(233, 70, 6);
}

.hotels-people input {
  height: 40px;
  width: 120px;
  padding: 20px;
  border-radius: 5px;
  outline: none;
}

#button-hotels {
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(233, 70, 6);
  color: white;
  font-size: 15px;
  border: none;
}

#button-hotels:hover {
  cursor: pointer;
  height: 45px;
}

/* ajuda */

#help {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help-container {
  height: 100px;
  width: 70%;
  background-color: rgb(233, 70, 6);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-container input {
  height: 45px;
  width: 80%;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  outline: none;
}

.help-container input:empty {
  padding-left: 20px;
}

.categories {
  text-align: center;
  font-size: 25px;
  margin: 30px auto;
}

.container-search {
  display: flex;
  justify-content: space-around;
  padding: 0 40px;
  gap: 20px;
}

.container-help {
  border: rgb(250, 154, 116) solid 3px;
  width: 300px;
  padding: 30px;
  text-align: center;
}

.container-help h2 {
  color: rgb(233, 70, 6);
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(233, 70, 6);
}

.container-help p {
  font-size: 1.3rem;
}
